{{ define "main" }}

{{ .Content }}

<div class="row mb-3">
    <div class="col-lg-8">
        <div class="card rounded-0">
            <div class="card-body">
                <h5 class="card-title mb-3">Se falar connosco, nós falamos consigo.</h5>
                <form action="https://formspree.io/xgeabrdl" method="POST">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-3 col-form-label">Nome</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputName" placeholder="O seu primeiro e último nome." name="inputName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputCompany" class="col-sm-3 col-form-label">Empresa</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputCompany" placeholder="A sua empresa" name="inputCompany">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPhone" class="col-sm-3 col-form-label">Contacto</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPhone" placeholder="Número directo, fixo ou móvel." name="inputPhone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail" placeholder="O seu e-mail." name="inputEmail" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-ford">Contactem-me.</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote text-right">
            <p class="mb-0">A qualidade de uma solução é diretamente proporcional à qualidade dos seus pressupostos.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Dr. Flow</cite></footer>
        </blockquote>
    </div>
</div>

{{ end }}