@import url('https://fonts.googleapis.com/css?family=Spectral&display=block');

html,
body {
    font-family: 'Spectral', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

iframe {
    border: none;
}

.card-profile-picture {
    max-width: 150px;
}

/* #d20000 Ford Bright Red */

a {
    color: #d20000;
}

a:hover {
    color: #d20000;
}

a.no-decorations:hover {
    text-decoration: none;
}

.alert-ford {
    color: #570000;
    background-color: #ff9f9f;
    border-color: #ff8a8a;
}

.alert-ford hr {
    border-top-color: #ff7171;
}

.alert-ford .alert-link {
    color: #240000;
}

.badge-ford {
    color: #fff;
    background-color: #d20000;
}

.badge-ford[href]:hover,
.badge-ford[href]:focus {
    color: #fff;
    background-color: #9f0000;
}

.bg-ford {
    background-color: #d20000 !important;
}

a.bg-ford:hover,
a.bg-ford:focus,
button.bg-ford:hover,
button.bg-ford:focus {
    background-color: #9f0000 !important;
}

.border-ford {
    border-color: #d20000 !important;
}

.btn-ford {
    color: #fff;
    background-color: #d20000;
    border-color: #d20000;
}

.btn-ford:hover {
    color: #fff;
    background-color: #ae0000;
    border-color: #9f0000;
}

.btn-ford:focus,
.btn-ford.focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 0, 0, 0.5);
}

.btn-ford.disabled,
.btn-ford:disabled {
    color: #fff;
    background-color: #d20000;
    border-color: #d20000;
}

.btn-ford:not(:disabled):not(.disabled):active,
.btn-ford:not(:disabled):not(.disabled).active,
.show>.btn-ford.dropdown-toggle {
    color: #fff;
    background-color: #9f0000;
    border-color: #8f0000;
}

.btn-ford:not(:disabled):not(.disabled):active:focus,
.btn-ford:not(:disabled):not(.disabled).active:focus,
.show>.btn-ford.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 0, 0, 0.5);
}

.btn-outline-ford {
    color: #d20000;
    background-color: transparent;
    border-color: #d20000;
}

.btn-outline-ford:hover {
    color: #fff;
    background-color: #d20000;
    border-color: #d20000;
}

.btn-outline-ford:focus,
.btn-outline-ford.focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 0, 0, 0.5);
}

.btn-outline-ford.disabled,
.btn-outline-ford:disabled {
    color: #d20000;
    background-color: transparent;
}

.btn-outline-ford:not(:disabled):not(.disabled):active,
.btn-outline-ford:not(:disabled):not(.disabled).active,
.show>.btn-outline-ford.dropdown-toggle {
    color: #fff;
    background-color: #d20000;
    border-color: #d20000;
}

.btn-outline-ford:not(:disabled):not(.disabled):active:focus,
.btn-outline-ford:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-ford.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 0, 0, 0.5);
}

.list-group-item-ford {
    color: #570000;
    background-color: #ff8a8a;
}

.list-group-item-ford.list-group-item-action:hover,
.list-group-item-ford.list-group-item-action:focus {
    color: #570000;
    background-color: #ff7171;
}

.list-group-item-ford.list-group-item-action.active {
    color: #fff;
    background-color: #570000;
    border-color: #570000;
}

.table-ford,
.table-ford>th,
.table-ford>td {
    background-color: #ff8a8a;
}

.table-hover .table-ford:hover {
    background-color: #ff7171;
}

.table-hover .table-ford:hover>td,
.table-hover .table-ford:hover>th {
    background-color: #ff7171;
}

.text-ford {
    color: #d20000 !important;
}

a.text-ford:hover,
a.text-ford:focus {
    color: #9f0000 !important;
}