{{ $ptitle := .Title }}

{{ range $key, $value := .Site.Data.contacto }}

{{ if eq $key $ptitle }}

<div class="card-columns">
    {{ range sort $value "section" }}

    <div class="card shadow">
        {{ if .photo }}
        <div class="text-center">
            <img src="/img/{{ .photo }}" class="card-img rounded-circle card-profile-picture" alt="Contact photo">
        </div>
        {{ end }}

        <div class="card-body">
            <h5 class="card-title">{{ .section }}</h5>

            {{ range .description }}
            <p class="card-text">{{ . }}</p>
            {{ end }}

            {{ if .link }}
            <a href="{{ .link }}" class="btn btn-flow stretched-link">Saber mais</a>
            {{ end }}
        </div>
    </div>

    {{ end }}
</div>

{{ end }}

{{ end }}
