{{ if eq .Title "Casos De Estudo" }}

{{ range $section, $value := .Site.Data.estudos }}

<h2>{{ $section }}</h2>

<div class="list-group list-group-flush mb-3">
    {{ range sort $value "title" }}

    {{ $file := path.Join "/content/saber-mais/casos-de-estudo/" .filename }}
    {{ $size := (os.Stat $file).Size }}
    {{ $szkb := div $size 1000 }}

    <a href="/saber-mais/casos-de-estudo/{{ .filename }}" class="list-group-item list-group-item-action border-0 px-1"><span class="text-muted">[{{ .filetype }}]</span> {{ .title }}</a>
    {{ end }}
</div>

{{ end }}

{{ end }}
