<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-1" href="/">
        DF
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ range .Site.Sections }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            <li class="nav-item">
                <a class="nav-link" href="/leadership/contact/">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
