{{ $ptitle := .Title }}

{{ range $section, $value := .Site.Data.youtube }}

{{ if eq $section $ptitle }}

<div class="row row-cols-1 row-cols-md-2">
    {{ range sort $value "title" }}
    <div class="col mb-4">
        <div class="card shadow h-100">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ .id }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ .title }}</h5>
                <p class="card-text">{{ .description }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}

{{ end }}
